<p id="notice"><%= notice %></p>

<p>
  <strong>Text:</strong>
  <%= @fact.text %>
</p>

<p>
  <strong>Exhibit:</strong>
  <%= @fact.exhibit_id %>
</p>

<%= link_to 'Edit', edit_fact_path(@fact) %> |
<%= link_to 'Back', facts_path %>
